h1{
    font-family: Impact;
    font-weight: 700;
    font-size: 80px;
    color: rgb(0, 0, 0);
    padding-top: 5px;
}
p{
    font-family: Times New Roman;
    font-weight: 400;
    font-size: 35px;
    color: rgb(0, 0, 0);
    padding-top: 35px;

}
#quoteLocation{
    padding-top: 30px;
    font-family: Times New Roman;
    font-weight: 400;
    font-size: 25px;
    color: rgb(0, 0, 0);
}
button{
    background-color: #0000ff;
    padding: 30px;
    width: 25%;
    color: white;
    margin-top: 15px;
    transition: background-color ;
    font-size: 13px;
    
}
button:hover{
    background-color: green;
}